dataclasses_json
numpy
trame
trame-iframe
trame-vuetify
trame-vtk
trame-dockview
vtk
requests
wheel
setuptools
paraview-trame-components
# La dépendance Git (format accepté par pip)
#git+https://github.com/Kitware/paraview-trame-components.git@main#egg=paraview-trame-components
